<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL"
    data-vanity="bhavnapatel99" data-version="v1"><a class="badge-base__link LI-simple-link"
        href="https://in.linkedin.com/in/bhavnapatel99?trk=profile-badge">Bhavna Patel</a></div>

<app-module1 class="animated" #counterElement @fadeIn></app-module1>
<app-module2 class="animated" #counterElement @fadeIn></app-module2>
<app-module3 class="animated" #counterElement @fadeIn></app-module3>
<app-module4 class="animated" #counterElement @fadeIn></app-module4>
<app-module5 class="animated" #counterElement @fadeIn></app-module5>